img {
  transition: transform .7s ease-in-out;
  position: relative;
  right: 0%;
}

img:hover {
  transform: rotate(3600deg);
  transform: rotate3d(1, 1, 1, 450deg);
  right: -50%;
  transform: scale3d(0.3, 5.4, 2.3);
}

.alert,
alert-primary {
  /*transition: transform 2s ease-in-out;*/
  /* left: 0%; */
  transition: background-color, color, transform 2s ease-in-out;
  /* transition: color 2s ease-in-out; */
}

.alert:hover,
alert-primary:hover {
  /* left: -50%; */
  transform: skewX(-50%);
  transform: rotate(-3600deg);
  background-color: green;
  color: white;
}

i {
  font-size: 10rem;
  transition: transform .7s ease-in-out;
}

i:hover {
  transform: rotate3d(1, 1, 1, 45deg);
}